---
import ContentSection from "~/components/content-section.astro";
import Perfiles from "~/components/perfiles.astro";
import MisionVision from "~/components/mision-vision.astro";
---

<ContentSection title="¿Quiénes somos?" id="nosotros">
  <Fragment slot="lead">
    <span>
      We are not just a digital agency; we are <span class="text-primary">CRE Club</span>,
      your digital partner that drives your business forward. We stand out for our constant
      updating in the latest technologies and trends. Experts in offering the <span class="text-primary">best customized solution</span> for your company, business, or project, accelerating its growth efficiently.
    </span>
  </Fragment>
  <MisionVision />
  <!-- <Perfiles /> -->
</ContentSection>
